/* src/TopNavBar.css */
.topnav-right {
  width: 100%;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.a {
  font-family: "Droid serif", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: transparent;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.a__color {
  color: black;
}

.a:hover {
  color: #e3c7bd;
}

.a__hide {
  visibility: hidden;
}

.show {
  /* Keep the navigation bar fully visible when shown */
  visibility: visible;
}

.hide {
  /* Make the navigation bar invisible when hidden */
  visibility: hidden;
}

.navbar {
  transition: height 0.3s ease;
}
